body {
    background-color: white;
}

@font-face {
    src: url(fonts/Ubuntu-Bold.ttf);
    font-family: ubuntubold;
    font-style: normal;
    font-weight: 100;
    color: black;
    font-size: 8rem;
    text-align: center;
}

h1 {
    font-family: ubuntubold;
    font-weight: 100;
    }
