body {
    background-color: white;
}

h1 {
    font-size: 6rem;
    color: black;
    text-align: center;
}

@font-face {
   font-family: 'ubuntu';
   src: url
   font-style: normal;
   
}
}
